form input {
  width: 480px;
  height: 36px;
  padding: 16px;
  margin-bottom: 6px;
  border-width: 1px;
  border-radius: 6px;
  outline: none;
  display: block;
}

.input-long {
  width: 260px;
  display: inline;
}

.input-short {
  width: 216px;
  display: inline;
}

.form-parent {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-parent2 {
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 480px;
  height: 36px;
  background-color: rgb(54, 184, 14);
  border: none;
  color: white;
  border-radius: 6px;
  margin-bottom: 6px;
  cursor: pointer;
}
.btn:hover {
  background-color: rgb(43, 168, 5);
}
.btn:active {
  background-color: rgb(39, 134, 10);
}

.change {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  form {
    width: 280px;
  }
  /* For mobile phones: */
  form input,
  .input-short,
  .input-long,
  .btn {
    width: 280px;
  }
}
